<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Categorias - SO1</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->
    <link href="css/main.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>

<body>
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <!--LOGO-->
            <a class="page-brand" href="/">SO1</a>
        </header>
        <!-- END HEADER-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">

                <div class="page-content fade-in-up">
                    <div class="flexbox-b mb-5">
                        <span class="mr-4 static-badge badge-pink"><i class="ti-search"></i></span>
                        <div id="cosoInfo">
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-body">
                            <ul id="cosoTweets" class="list-group list-group-full list-group-divider">
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">2019 <b>Segundo Semestre</b> - Sistemas Operativos 1</div>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>

    <!-- CORE PLUGINS-->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/metisMenu/dist/metisMenu.min.js"></script>
    <script src="vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="vendors/chart.js/dist/Chart.min.js"></script>
    <script src="vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.min.js"></script>
    <script src="js/cates.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="js/scripts/dashboard_visitors.js"></script>
    
    <script>

        document.querySelector('#search').addEventListener('keypress', function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 is enter
                var term = document.getElementById('search').value;
                term = term.replace('#', '%23');
                window.location.href = '/tweets?q=' + term;
            }
        });

    </script>
</body>